@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h1>ClientRestaurants</h1>

<table class="table" id="restaurants"></table>

@section Scripts {

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>


    <script>

        var cuisines = ["Unknown","Italian","Indian","Mexican"];

        $(function () {
            $.ajax("/api/restaurants/",
                { method: "get" })
                .then(function (response) {
                    $("#restaurants").DataTable({
                        data: response,
                        columns: [
                            { "data": "name" },
                            { "data": "location" },
                            { "data": "cuisine", "render":function(data){
                                                    return cuisines[data];
                                                   }
                            },
                        ]
                    });
                });
        });
    </script>
}